<div class="container">
  <hr>
  <footer class="footer pull-right">
    <div>
      <a class="http://sailsjs.com" href="/">sails.js</a>
      <div>My first app</div>
    </div>
  </footer>
</div>
