<div class="container">
  <div class="jumbotron">
    <h1> My wonderful application </h1>
    <h2> ...ipsosemp </h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
    <a href="/graph/display" class="btn btn-lg btn-info">Display!</a>
  </div>
</div>
